<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro Unidade</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="secondary">
 
  <ion-item class="Input Input_Primeiro">
    <ion-input type="text" placeholder="Código" [(ngModel)]="this.codigo_Unidade"></ion-input>
  </ion-item>

  <ion-item class="Input">
    <ion-input type="text" placeholder="Nome" [(ngModel)]="this.nome_Unidade"></ion-input>
  </ion-item>

  <ion-item class="Input">
    <ion-input type="text" placeholder="Senha" type="password" [(ngModel)]="this.senha_Unidade"></ion-input>
  </ion-item>

  <ion-item class="Input">
    <ion-input type="text" placeholder="Confirmar Senha" type="password" [(ngModel)]="this.confirmar_Senha_Unidade"></ion-input>
  </ion-item>

  <ion-button id="Bt_Cadastrar" (click)="InsereDados()" color="success" expand="block">
      Cadastrar
    </ion-button>
</ion-content>