<ion-header>
  <ion-toolbar color="primary">  
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
       </ion-buttons>
      <ion-title>Leitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let item of [0, 1, 2]">
      <ion-card-header color="success-shade">
        <ion-card-title>Nome Leito</ion-card-title>
      </ion-card-header>
  
      <ion-item color="success" class="activated">
        <ion-label id="Mortalidade_Bruta">Leito desocupado</ion-label>
      </ion-item>
  
    </ion-card>

</ion-content>
