<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
       </ion-buttons>
    <ion-title>
      Entrada de Dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-button id="Bt_Form_Entrada_Saida"routerLink="../indicadorNoAuth" expand="block">
    Formulário Entrada/Saída
  </ion-button>

  <ion-button id="Bt_Cadastro_Unidade"routerLink="../cadastro-unidade" expand="block">
    Cadastro unidade
  </ion-button>

  <ion-button id="Bt_Cadastro_Paciente"routerLink="../cadastro-paciente" expand="block">
    Cadastro paciente
  </ion-button>

</ion-content>
